body {
    background-color: #001427;
}

#title {
    margin: auto;
    padding-top: 2.5%;
    padding-bottom: 5%;
    width: 75%;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

#clear-data {
    margin: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    font-weight: bold;
    background-color: #8B0000;
    color: #ffffff;
}

#new-set {
    margin: auto;
    display: block;
    margin-top: 5%;
    width: 50%;
    text-align: center;
    font-weight: bold;
    background-color: #808f85;
    color: #ffffff;
}

.workout-set {
    margin: auto;
    width: 75%;
    text-align: center;
    border: 0.75vw solid #192c3c;
    background-color: #808f85;
    color: #ffffff;
}

.workout {
    margin: auto;
    width: 85%;
    text-align: center;
    border: 0.55vw dotted #ffffff;
    background-color: #5e0b15;
    color: #ffffff;
}

.workout-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tracker-button {
    margin: 2.5px;
    flex: 1 1 calc(20% - 5px);
    max-width: calc(20% - 5px);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #ffffff;
}

.finish-set {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    float: right;
    aspect-ratio: 3 / 1;
    text-align: center;
    font-weight: bold;
    background-color: #008000;
    color: #ffffff;
}

.new-workout {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    display: block;
    width: 50%;
    text-align: center;
    font-weight: bold;
    background-color: #808f85;
    color: #ffffff;
}