body {
    background-color: black;
}

#title {
    margin: auto;
    padding-bottom: 5%;
    width: 75%;
    text-align: center;
    font-weight: bold;
    color: white;
}

#clear-data {
    margin: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    font-weight: bold;
    background-color: darkred;
    color: white;
}

#new-set {
    margin: auto;
    display: block;
    margin-top: 5%;
    width: 50%;
    text-align: center;
    font-weight: bold;
    background-color: grey;
    color: white;
}

.workout-set {
    margin: auto;
    width: 75%;
    text-align: center;
    border: 0.75vw solid darkred;
    background-color: grey;
    color: white;
}

.workout {
    margin: auto;
    width: 85%;
    text-align: center;
    border: 0.55vw dotted black;
    background-color: darkslategray;
    color: white;
}

.workout-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tracker-button {
    margin: 2.5px;
    flex: 1 1 calc(20% - 5px);
    max-width: calc(20% - 5px);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: white;
}

.new-workout {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    display: block;
    width: 50%;
    text-align: center;
    font-weight: bold;
    background-color: grey;
    color: white;
}